{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "printWidth": 65,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "auto",
    "jsxSingleQuote": false,
    "bracketSameLine": true
}
